# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Large generated data files
module2/data/
profile_stats

# OS
.DS_Store
Thumbs.db

# Environment variables & secrets
.env
.env.local
.env.*.local
*.env

# Frontend
module3/frontend/node_modules/
module3/frontend/dist/
module3/data/

# IDE & Editor files
.vscode/
.idea/




